{% extends 'base.html' %}

{% block titile %}
首页 | MOOC爱上学习
{% endblock %}

{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
{% endblock %}

{% block content %}
    <div class="banner" style="height: 1000px;">
		<div style=" width: 80%; margin: 0 auto;">
			<div class="wp">
				<div class="fl">
					<div class="imgslide">
						<ul class="imgs">

                            {% for banner in all_banner %}
                            <li>
                                    <a href="{{ banner.url }}">
                                        <img width="1530" height="350" src="{{ MEDIA_URL }}{{ banner.image }}" />
                                    </a>
                                </li>
                    {% endfor %}

						</ul>
					</div>
					<div class="unslider-arrow prev"></div>
					<div class="unslider-arrow next"></div>
				</div>

				</div>
		</div>

    </div>


<!--banner end-->
<!--feature start-->

<!--feature end-->
<!--module1 start-->

{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<style type="text/css">
			body{
				background-color: #AFD9EE;
			}
			.a{
				color: white;
				font-family: "楷体";
			}
			.a:hover{
				color: #286090;
			}

			.ttcontent{
				display: block;
				height: 180px;
				line-height: 60px;
				background-color: #FFF0F5;
				text-align: left;
				font-size: 25px;
			}
			.ttcontent .typess{
				display: block;
				list-style: none;
			}
			.typess li{
				float: left;
				margin-left: 30px;
			}
			.typess li a:hover{
				text-decoration: none;
				color: black;
			}
			.pagination li{
				width: 90px;
			}

			.bottoms{
				position: relative;
				bottom: 0px;
				color: white;
				/* margin: 0 10%; */
				line-height: 45px;
				text-align: center;
			}
			.bottomu{
				display: block;
				border-bottom:1px white solid ;
				height: 45px;
				/* float: left; */
				list-style: none;
			}
			.bottomu li{
				float: left;
				font-family: '楷体';
				/* color: white; */
				font-size: 35px;
			}
			.bottomu li a{
				text-align: none;
				font-family: '楷体';
				color: white;
				font-size: 30px;
			}


		</style>
{% endblock %}