<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>视频详情</title>
		<!-- <link rel="icon" href="aa.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="aa.ico">
		<link rel="Bookmark" href="aa.ico"> -->
		
		<link rel="SHORTCUT ICON" href="study2.ico"/>
		
		<link rel="stylesheet" type="text/css" href="../lib/jQuery/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<!-- 必须先引入jQuery再引入BootStrape -->
		<script type="text/javascript" src="../lib/jQuery/jquery-2.1.4.min.js">
		</script>
		<script type="text/javascript" src="../lib/jQuery/bootstrap-3.3.7-dist/js/bootstrap.min.js">
		</script>
		<script type="text/javascript">
			$(function(){
				$("a.gogo").attr("target","_blank")
				$("a").attr("target", "_self")
			})
		</script>
		<style type="text/css">
			body{
				background-color: #AFD9EE;
			}
			.a{
				color: white;
				font-family: "楷体";
			}
			.a:hover{
				color: #286090;
			}
			
			.ttcontent{
				display: block;
				height: 180px;
				line-height: 60px;
				background-color: #FFF0F5;
				text-align: left;
				font-size: 25px;
			}
			.ttcontent .typess{
				display: block;
				list-style: none;
			}
			.typess li{
				float: left;
				margin-left: 30px;
			}
			.typess li a:hover{
				text-decoration: none;
				color: black;
			}
			.pagination li{
				width: 90px;
			}
			
			.bottoms{
				position: relative;
				bottom: 0px;
				color: white;
				/* margin: 0 10%; */
				line-height: 45px;
				text-align: center;
			}
			.bottomu{
				display: block;
				border-bottom:1px white solid ;
				height: 45px;
				/* float: left; */
				list-style: none;
			}
			.bottomu li{
				float: left;
				font-family: '楷体';
				/* color: white; */
				font-size: 35px;
			}
			.bottomu li a{
				text-align: none;
				font-family: '楷体';
				color: white;
				font-size: 30px;
			}
			
			
		</style>
	</head>
	<body>
	<div>
		<!-- 导航条 -->
		<nav class="navbar navbar-default" style="background-color: #286090">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"><a href="mailto:"></a></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="font-size: 3.75rem; color: white;" href="index.html">MOOC</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li style="font-size: 20px; color: gainsboro; margin-top: 0.9375rem;" >从这里爱上学习<span class="sr-only">(current)</span></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="login.html" style="color: white;">登录</a></li>
					<li><a href="#" style="pointer-events: none;">|</a></li>
					<li><a href="Register.html" style="color: white;">注册</a></li>
					<li><a href="#" style="pointer-events: none;"> </a></li>

				</ul>
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="搜索课程">
					</div>
					<button type="submit" class="btn btn-default">搜索</button>
				</form>
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
  <!-- Indicators -->
  <!-- 轮播图 -->
	<div style=" width: 80%; margin: 0 auto;">
		<!-- 在这里添加首页的导航条 -->
		<div style="margin-bottom: 20px; background-color: #286090; height: 70px; font-size: 35px;">
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="index.html" class="a">首页</a></li>
			  <li role="presentation" class="active"><a href="online_classes.html" class="a">在线课程</a></li>
			  <li role="presentation"><a href="online_videos.html" class="a">在线视频</a></li>
			  <li role="presentation"><a href="partners.html" class="a">合作院校</a></li>
			</ul>
		</div>
		
		<!-- 视频详情 -->
		<div class="contains">
			<div class="contents">
				<div class="details">
					<!-- 增加一个地址导航栏 -->
					<!-- <ol class="breadcrumb" style="background-color: #23527C;">
						<li><a href="index.html" >首页</a></li>
						<li><a href="online_classes.html">在线课程</a></li>
						<li class="active">python</li>
					</ol> -->
					<div style="height: 40px; font-size: 20px;">
						<a href="index.html">首页</a>
						<span>></span>
						<a href="online_classes.html">在线课程</a>
						<span>></span>
						<span>太极拳医学</span>
					</div>
					<div class="introduces" style="position: relative;">
						<div class="col-sm-4 col-md-3" style="width: 50%;">
							<a href=""> <img src="../images/content/c3-4.jpg" style="width: 90%;" alt="太极拳医学"></a>
						</div>
						<div class="de_right col-sm-4 col-md-3" style=" float: right;width: 50%; font-size: 30px;">
							<p>太极拳医学</p>
							<p>开课时间：2019年03月12日 ~ 2019年06月06日</p>
							<p>学时安排： 3~5小时每周</p>
							<div class="joins" style="height: 70px; width: 200px; background-color: #23527C; line-height: 70px;">
								<a href="videoliststaiji.html" style="font-family: 楷体; text-decoration: none; display: block; font-size: 35px; text-align: center; color: white; margin-top: 20px;">立即参加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		<!-- 课程详情 -->
		<div style="margin-top: 390px;height: 1500px;">
			<div style="border-top: #FFF0F5 2px solid;">
				<div style="width: 50%;float: left;">
					<div style="font-family: 楷体;">
						<p><h2>太极拳医学简介</h2></p>
						<p><h3>太极拳医学是从医学角度科学、系统、规范地阐释太极拳的医学作用及其机制，指导习练者进行符合医学规律的太极拳运动，防治疾病，减少损伤，提高技能。它是太极拳与医学相结合的交叉学科，涉及太极哲理、太极拳术、道家丹道养生学、中华传统医学和西方现代医学。</h3></p>
						<p><h2>课程概述</h2>
						<h3>太极拳医学是一门太极拳与医学相结合的交叉学科，它从医学的角度研究太极拳对人体各系统的作用及其作用机制，主要涉及到太极哲理、太极文化、太极拳术体系、中华传统医学、西方现代医学和道家丹道养生学。
						</h3>
						<h3>1、理论教学的主要内容：太极拳医学绪论、太极拳、太极拳与道家丹道养生学、太极拳与中医经络及点穴疗法、现代医学对太极拳医学效应的研究、太极拳习练不当导致的损伤。</h3>
						<h3>2、太极拳实践教学内容：传统杨氏太极拳第一小节。</h3>
						</p>
						
						<p><h2>授课目标</h2>
						<h3>关爱大众，增进健康，延年益寿！</h3>
						</p>
						
						<p>
							<h2>课前准备</h2>
							<h3>太极拳的一般知识、中医学和现代医学常识、一定的中华传统文化知识背景。</h3>
						</p>
						<p><h2>参考资料</h2>
						<h3>[1].余功保.中国太极拳辞典.北京.人民体育出版社.2008.4.3</h3>
						<h3>[2].杨澄浦.太极拳体用全书.上海书店  1986.4</h3>
						<h3>[3].路迪民.杨式太极拳三谱汇真.人民体育出版社. 2008年</h3>
						<h3>[4].永年太极拳志编者委员会.永年太极拳志.人民体育出版社 .2006.8</h3>
						</p>
					</div>
				</div>
				<div style="width: 30%; float: right;">
					<p>
						<h3>授课老师</h3>
						<a href="">
							<h3>田汉文</h3>
						<br>
						<img src="../images/content/sichuandaxue.jpg" width="50%">
						</a>
						<br>
						<a href="">
							<h3>李华</h3>
						<br>
							<img src="../images/content/sichuandaxue.jpg" width="50%">
						</a>
						<br>
						<a href="">
							<h3>黄宁</h3>
						<br>
							<img src="../images/content/sichuandaxue.jpg" width="50%">
						</a>
					</p>
				</div>
			</div>
		</div>
			
		
		
		
		<div class="bottoms"  style="width: 100%; margin-top: 130px; background-color: #286090;">
			<ul class="bottomu">
				<li style="width: 25%;"><a href="contact_us.html">联系我们</a></li>
				<li style="width: 25%;"><a href="about_us.html">关于我们</a></li>
				<li style="width: 25%;"><a href="questions.html">咨询问题</a></li>
				<li style="width: 25%;"><a href="teacher_certification.html">讲师认证</a></li>
			</ul>
			<div >
				<ul style="list-style: none; width: 100%;" >
					<li style="height: 35px; line-height: 20px; font-size: 20px; text-align: center;">设计者：Shirlesha&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp本网站用于在线学习&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp版权所有，请勿商用</li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- 底部 -->
	<!-- <div class="bottomm" style="margin-top: 20px; background-color: #286090; height: 100px;">
		<div class="bottoms"  style="margin: 0 10%;">
			<ul class="bottomu">
				<li style="margin-left: 50px;">友情链接</li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">咨询问题</a></li>
				<li><a href="#">讲师认证</a></li>
			</ul>
			<div class="left">
				<ul style="list-style: none; margin-right: 200px;" >
					<li>设计者：Shirlesha&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp本网站用于在线学习         版权所有，请勿商用</li>
				</ul>
			</div>
			
		</div>
	</div> -->
</div>
	</body>
</html>
