<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>课程简介</title>
		<!-- <link rel="icon" href="aa.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="aa.ico">
		<link rel="Bookmark" href="aa.ico"> -->
		
		<link rel="SHORTCUT ICON" href="study2.ico"/>
		
		<link rel="stylesheet" type="text/css" href="../lib/jQuery/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<!-- 必须先引入jQuery再引入BootStrape -->
		<script type="text/javascript" src="../lib/jQuery/jquery-2.1.4.min.js">
		</script>
		<script type="text/javascript" src="../lib/jQuery/bootstrap-3.3.7-dist/js/bootstrap.min.js">
		</script>
		<script type="text/javascript">
			$(function(){
				$("a.gogo").attr("target","_blank")
				$("a").attr("target", "_self")
			})
		</script>
		<style type="text/css">
			body{
				background-color: #AFD9EE;
			}
			.a{
				color: white;
				font-family: "楷体";
			}
			.a:hover{
				color: #286090;
			}
			
			.ttcontent{
				display: block;
				height: 180px;
				line-height: 60px;
				background-color: #FFF0F5;
				text-align: left;
				font-size: 25px;
			}
			.ttcontent .typess{
				display: block;
				list-style: none;
			}
			.typess li{
				float: left;
				margin-left: 30px;
			}
			.typess li a:hover{
				text-decoration: none;
				color: black;
			}
			.pagination li{
				width: 90px;
			}
			
			.bottoms{
				position: relative;
				bottom: 0px;
				color: white;
				/* margin: 0 10%; */
				line-height: 45px;
				text-align: center;
			}
			.bottomu{
				display: block;
				border-bottom:1px white solid ;
				height: 45px;
				/* float: left; */
				list-style: none;
			}
			.bottomu li{
				float: left;
				font-family: '楷体';
				/* color: white; */
				font-size: 35px;
			}
			.bottomu li a{
				text-align: none;
				font-family: '楷体';
				color: white;
				font-size: 30px;
			}
			
			
		</style>
	</head>
	<body>
	<div>
		<!-- 导航条 -->
		<nav class="navbar navbar-default" style="background-color: #286090">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"><a href="mailto:"></a></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="font-size: 3.75rem; color: white;" href="index.html">MOOC</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li style="font-size: 20px; color: gainsboro; margin-top: 0.9375rem;" >从这里爱上学习<span class="sr-only">(current)</span></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="login.html" style="color: white;">登录</a></li>
					<li><a href="#" style="pointer-events: none;">|</a></li>
					<li><a href="Register.html" style="color: white;">注册</a></li>
					<li><a href="#" style="pointer-events: none;"> </a></li>

				</ul>
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="搜索课程">
					</div>
					<button type="submit" class="btn btn-default">搜索</button>
				</form>
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
  <!-- Indicators -->
  <!-- 轮播图 -->
	<div style=" width: 80%; margin: 0 auto;">
		<!-- 在这里添加首页的导航条 -->
		<div style="margin-bottom: 20px; background-color: #286090; height: 70px; font-size: 35px;">
			<ul class="nav nav-pills">
			  <li role="presentation"><a href="index.html" class="a">首页</a></li>
			  <li role="presentation" class="active"><a href="online_classes.html" class="a">在线课程</a></li>
			  <li role="presentation"><a href="online_videos.html" class="a">在线视频</a></li>
			  <li role="presentation"><a href="partners.html" class="a">合作院校</a></li>
			</ul>
		</div>
		
		<!-- 视频详情 -->
		<div style="background-color: white;">
			
		<div class="contains"style="background-color: white;">
			<div class="contents">
				<div class="details" >
					<!-- 增加一个地址导航栏 -->
					<!-- <ol class="breadcrumb" style="background-color: #23527C;">
						<li><a href="index.html" >首页</a></li>
						<li><a href="online_classes.html">在线课程</a></li>
						<li class="active">python</li>
					</ol> -->
					<div style="height: 40px; font-size: 30px; font-family: 楷体;  ">
						<ol class="breadcrumb" style="border-bottom: 1px solid #286090;">
							<li><a href="index.html">首页</a></li>
							<li><a href="online_classes.html">在线课程</a></li>
							<li><span>python</span></li>
						</ol>
					</div>
					<div class="introduces" style="position: relative; top: 30px;">
						<div class="col-sm-4 col-md-3"  style="width: 40%; border-right:1px solid #286090 ;">
							<a href=""> <img src="../images/content/c1-1.jpg" style="width: 90%;" alt="这里是python的课堂"></a>
						</div>
						<div class="de_right col-sm-4 col-md-3" style=" float: right;width: 60%; font-size: 30px;border-left:1px solid #286090 ;">
							<p>Python程序语言设计</p>
							<p>开课时间：2019年02月11日 ~ 2019年06月22日</p>
							<p>学时安排： 8小时每周</p>
							<div class="joins" style="height: 70px; width: 200px; background-color: #23527C; line-height: 70px;">
								<a href="videolists.html" style="font-family: 楷体; text-decoration: none; display: block; font-size: 35px; text-align: center; color: white; margin-top: 20px;">立即参加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		<!-- 课程详情 -->
		<div style=" margin-top: 390px; height: 1400px;border-top:1px solid #286090 ;">
			<div style="border-top: #FFF0F5 2px solid;">
				<div style="width: 79%;float: left; border-right:1px solid #286090 ;">
					<div style="font-family: 楷体;">
						<p><h2>python简介</h2></p>
						<p><h3>Python是一种计算机程序设计语言。是一种面向对象的动态类型语言，最初被设计用于编写自动化脚本(shell)，随着版本的不断更新和语言新功能的添加，越来越多被用于独立的、大型项目的开发。</h3></p>
						<p style="border-top:1px dashed #286090 ;"><h2>课程概述</h2>
						<h3>Python语言是程序设计语言领域 20 年来最重要的成果之一，在产业界广泛应用，尤其随着人工智能（AI）技术的不断演进，已成为国际上最流行的程序设计语言之一。Python语法简单、但功能强大，编写简洁、且可读性好。Python语言的另外重要优势是能够与各种编程语言对接，俗称“胶水语言”。因此，它能够用简单的语法结构封装其他编程语言最优秀的程序代码，进而非常迅速地成为各专业接口型编程语言。
						“Python 语言程序设计”课程是一门基础课，入门课程，适合于没有接触过任何编程语言的同学。本课程的教学目标是通过12周的学习，了解程序设计的基本方法、掌握Python语言基本语法。学习完此门课程，同学们将会设计简单程序，轻松编写百余行代码，为进一步学习Python高阶知识和技能打下坚实基础。学习完此门课程，同学们将构建计算思维，人人要具有初步思考与解决实际问题的编程能力。
						</h3></p>
						<p style="border-top:1px dashed #286090 ;"><h2>授课目标</h2>
						<h3>作为一门程序设计语言，本课程将以浅显易懂的话语，有鲜明特点的案例来将学员引领进python的大门。</h3>
						</p>
						<p style="border-top:1px dashed #286090 ;">
							<h2>课前准备</h2>
							<h3>笔记本电脑一台，运行流畅</h3>
							<h3>简单的编程知识了解，简单的编程历史了解，练习打字，学会使用十指打字。</h3>
						</p>
						<p style="border-top:1px dashed #286090 ;">
							<h2>参考资料</h2>
							<h3>[1]《Python程序设计基础》，鲁凌云主编，诸强副主编，王瑞平、张英俊、刘正东编写，清华大学出版社，2019年出版</h3>
							<h3>[2]《Python语言程序设计基础(第2版)》，嵩天、礼欣、黄天羽著，高等教育出版社，2017.2（讲授Python 3版本）</h3>
							<h3>[3] Python123学习主站：http://python123.io</h3>
							<h3>[4]《Python语言程序设计冲刺试卷(含线上题库)》，黄天羽、李芬芬著，高等教育出版社，2018.7</h3>
							<h3>[5]《Python程序设计开发宝典》，董付国编著,清华大学出版社,2018.7</h3>
						</p>
					</div>
				</div>
				<div style="width: 20%; float: right;">
					<p>
						<h3>授课老师</h3>
						<a href="">
							<h3>鲁凌云</h3>
						<br>
						<img src="../images/content/beijingjiaotongdaxue.jpg" width="70%">
						</a>
						<br>
						<a href="">
							<h3>诸强</h3>
						<br>
							<img src="../images/content/beijingjiaotongdaxue.jpg" width="70%">

						</a>
						<br>
						<a href="">
							<h3>张英俊</h3>
						<br>
							<img src="../images/content/beijingjiaotongdaxue.jpg" width="70%">

						</a>
					</p>
				</div>
			</div>
		</div>
		
		
		</div>	
		
		
		
		<div class="bottoms"  style="width: 100%; margin-top: 130px; background-color: #286090;">
			<ul class="bottomu">
				<li style="width: 25%;"><a href="contact_us.html">联系我们</a></li>
				<li style="width: 25%;"><a href="about_us.html">关于我们</a></li>
				<li style="width: 25%;"><a href="questions.html">咨询问题</a></li>
				<li style="width: 25%;"><a href="teacher_certification.html">讲师认证</a></li>
			</ul>
			<div >
				<ul style="list-style: none; width: 100%;" >
					<li style="height: 35px; line-height: 20px; font-size: 20px; text-align: center;">设计者：Shirlesha&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp本网站用于在线学习&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp版权所有，请勿商用</li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- 底部 -->
	<!-- <div class="bottomm" style="margin-top: 20px; background-color: #286090; height: 100px;">
		<div class="bottoms"  style="margin: 0 10%;">
			<ul class="bottomu">
				<li style="margin-left: 50px;">友情链接</li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">咨询问题</a></li>
				<li><a href="#">讲师认证</a></li>
			</ul>
			<div class="left">
				<ul style="list-style: none; margin-right: 200px;" >
					<li>设计者：Shirlesha&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp本网站用于在线学习         版权所有，请勿商用</li>
				</ul>
			</div>
			
		</div>
	</div> -->
</div>
	</body>
</html>
